.App{
  display: flex;
  justify-content:center;
  align-items:center;
  width: 100vw;
  
  text-align: center;
}

.parent{
  background: green;
  position: relative;
 animation: slideFromTop 1s ease-out forwards;
  z-index: 1;
  
  width: 500px;
  height:350px;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  padding: 20px;
  
}
.parent div{
  border: 1px solid black;
  padding: 20px;
}
.cross-icon{
  text-align: end;
  font-size: large;
  background-color: white;
  
}
.cross-icon span{
  cursor: pointer;
  margin-left: 0px;
  position: relative;
  
}
.cross-icon{
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
h1{
  color: brown;
}
.header{
  background-color: pink;
}
.body{
  background-color: aqua;
}
.footer{
  background-color: chocolate;
}
@keyframes slideFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}